<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="elecMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-sm="8" size="12" offset-sm="2">
        <ion-img class="circle" src="../../assets/profile.JPG"></ion-img>
        <ion-list>
          <ion-item>
            <ion-label>Nama : Muhamad Riza Kurniawanda</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>NIM : 00000022485</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">testtestestest</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
