<ion-app>
  <ion-menu side="start" menuId="elecMenu">
    <!-- <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header> -->
    <ion-content>
      <ion-list>
        <ion-menu-toogle menu="elecMenu">
          <ion-item lines="none" routerLink="/home">
            <ion-icon slot="start" name="business-outline"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toogle>
        <ion-menu-toogle menu="elecMenu">
          <ion-item lines="none" routerLink="/admin">
            <ion-icon slot="start" name="checkbox-outline"></ion-icon>
            <ion-label>Admin</ion-label>
          </ion-item>
        </ion-menu-toogle>
        <ion-menu-toogle menu="elecMenu">
          <ion-item lines="none" routerLink="/about">
            <ion-icon slot="start" name="exit-outline"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
        </ion-menu-toogle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
